spring:
  profiles:
    default: prod

---

spring:
  profiles:
    active: prod
  datasource:
    url: jdbc:postgresql://localhost:5432/your_link
    username: test
    password: test
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    url: jdbc:postgresql://localhost:5432/your_link
    baseline-on-migrate: false
    user: test
    password: test

---

spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/your_link
    username: test
    password: test
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
